body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: rgb(72, 123, 201);
    color: #333;
}

nav {
    margin-bottom: 20px;
    background: #444;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline;
    
}

h1 {
    color: #444;
}

.Liam {
  width: 300px;
  border: 6px solid black;
  border-radius: 8px;
}

p {
  margin-left: 350px;
  margin-top: -400px;
  font-size: 25px; 
  width: 350px;    
  background-color: white;
  border: 3px solid black;
  border-radius: 4px;
  padding: 20px;
  height: 300px;
  width: 300px;
}